@media(max-width:1199px){
    .middle_sec {
        padding-right: 100px;
    }
    .for_width {
        width: 705px;
    }
    .pd1{
        padding: 0px 20px;
    }
}

@media(max-width:991px){
    /* .popup_inner img {
        width: 100%;
    } */

    /* .popup_inner .remove {
        right: -30px;
    } */

    .middle_sec {
        padding-right: 100px;
    }
    .for_width {
        width: 540px;
    }
}

@media(max-width:767px){
   .hamburger{
        display: block;
    }
    .main{
        padding-top: 0px;
    }
    .home_left {
        padding: 0px 10px;
        position: fixed;
        top: 0;
        z-index: 99;
        background: #fff;
        padding: 20px 30px;
        box-shadow: 0px 0px 10px 0px #d7d2d2;
    }
    .main_box {
        margin-top: 97px;
    }
    .home_rht{
        margin-top: 112px;
    }
    .studio_inner, .cv{
        margin-top: 112px;
        padding-left: 30px;
        padding-right: 30px;
    } 
    .links, .leftlow2{
        display: none;
    }
    .home_left h1 a.home{
        padding: 0px;
        line-height: unset;
        padding-bottom: 18px;
    }
    .home_rht img{
        height: unset;
    }
    .home_rht p{
        padding: 15px 30px;
    }
    .studio img{
        width: 100%;
    }
    .writing{
        margin-top: 112px;
        padding: 30px 30px 0px 30px;
    }
    .u_line {
        margin-top: 15px;
        width: 100%;
    }

    .painting .page_in,
    .painting_sec .page_in {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .demo, .demo1{
        display: block;
    }
    .for_padding{
        padding: 0px 30px;
    }

    .sculp {
        margin-top: 15px;
    }

    .middle_sec {
        padding-right: 0;
    }
    .sculp_content{
        padding: 15px 30px;
        min-height: unset;
    }
    .sculp_content p{
        padding: 0px;
        
    }
    .home_rht a{
        padding: 60px 30px;
    }
    .page_in {
        margin: 30px 0px;
    }
    .for_width {
        width: 100%;
    }
    .row1 {
        margin-left: -15px; 
        margin-right: -15px;
    }
    .scroll {
        height: 100vh;
        margin-top: 0;
    }
    .container{
        padding: 0px;
    }
    .demo .col-sm-6, .demo .col-sm-12, .demo .col-sm-5, .demo .col-sm-4, .demo .col-sm-7{
        padding: 0px;
    }
    .demo1 .col-sm-6, .demo1 .col-sm-12, .demo1 .col-sm-5, .demo1 .col-sm-4, .demo1 .col-sm-7{
        padding: 0px;
    }
    .pd1{
        padding: 0px 30px;
    }
    .demo, .demo1{
        margin: 0px;
    }
    .leftup {
        padding: 0px;
    }
}
@media(max-width:560px){
    .page {
        width: 100%;
    }
    .popup_inner img {
        width: 100%;
        height: 100%;
        margin-bottom:0px;
        object-fit: cover
    }
    /* .popup_inner .remove {
        right: 10px;
        top: -35px;
    } */
    .popup_inner{
        /*margin: 80px auto;*/
    }
    .popup_inner .dem_empty{
        width: 90%;
        height: 100vh;
    }
    .writing .col-xs-6{
        width:100%;
    }
    .write{
        display: block;
        padding-bottom: 0px;
    }
    .w_content {
        padding-bottom: 30px;
    }
}
@media(max-width:414px){
}
@media(max-width:320px){

}