@font-face{
    font-family:'OpenSansSemiBold';
    src:url(../fonts/OpenSansSemiBold.ttf);
}
@font-face{
    font-family:'MontserratRegular';
    src:url(../fonts/MontserratRegular.ttf);
}
@font-face{
    font-family:'MontserratSemiBold';
    src:url(../fonts/MontserratSemiBold.ttf);
}
@font-face{
    font-family:'MontserratLight';
    src:url(../fonts/MontserratLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

.noleft{
    padding-left: 0;
}

.noright{
    padding-right: 0;
}

.nopadding{
    padding: 0;
}

a{
    outline: medium none !important;
    text-decoration:none;
    transition: all 0.35s ease 0s;
}

a:hover{
	text-decoration:none;
}

button {
    transition: all 0.35s ease 0s;
}

a:focus{
    text-decoration: none;
}

button:focus{
    outline:0px;
}
.boxs{
	width: 100%;
	display: block;
	float: left;
}

.header{
    position: absolute;
    width: 100%;
    z-index: 999;
	top:0;
	left:0;
    background-color: #000;
    padding: 50px 0px; 
}

.header .container-fluid{
	padding:0;
}
.header .navbar-brand{
    height: auto;
    padding: 0;
    padding-left: 15px;
    font-family: "OpenSansSemiBold";
    font-size: 18px;
    color: #fff;
}
.header .navbar-brand span{
    display: block;
    font-family: "MontserratLight";
    font-size: 28px;
    color: #fff;
    margin-top: 10px;
}
.header .navbar{
    background: rgba(0,0,0,0);
    border: none;
    margin-bottom: 0;
    padding: 0px 25px;
}

.header .navbar ul li{
	padding: 10px 15px;
}

.header .navbar-nav > li > a{
    font-family: "MontserratRegular";
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
}

.header .nav > li > a:hover, .header .nav > li .active{
	color: #90b012;
    background-color: transparent;
}
.header .navbar-nav > li .btn{
	background:#000;
	color:#fff !important;
	border-radius:100px;
}	
.header .navbar-nav > li .btn:hover{
	background:#da3838;
}

.fixed_header{
	position:fixed;
}
.fixed_header .top{
	display:none;
	border:none;
}
.fixed_header .bottom{
	padding:10px 0;
}
.header .hamburger{
    width: 52px;
    height: 52px;
    padding: 13px 13px;
    display: none;
    float: right;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background: #9097a8;
    border-radius: 0;
    width: 25px;
    height: 3px;
}
.hamburger-box{
    width: 25px;
}
.hamburger-inner::before {
    top: -8px;
}
.hamburger-inner::after {
    bottom: -8px;
}
.banner{
    width: 100%;
    background-color: #000; 
    padding-top: 175px;
    
}
.banner_inner{
    padding: 0px 25px;
    position: relative;
}
.fbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_heading h1{
    font-family: "MontserratRegular";
    font-size: 26px;
    line-height: 44px;
    color: #fff;
    margin-bottom: 20px;
}
.banner_heading h1 span{
    display: block;
}
.banner_heading a{
    display: inline-block;
    font-family: "MontserratRegular";
    font-size: 18px;
    color: #96999f;
}
.banner_heading a:hover{
    color: #90b012;
}
.banner_bottom a{
    display: inline-block;
    font-family: "MontserratRegular";
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
}
.banner_bottom a:hover{
    color: #90b012;
}
.banner_bottom a img{
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}
.banner_bottom a .img_hide{
    display: none;
}
.banner_bottom a:hover .img_hide{
    display: block;
}
.banner_bottom a:hover .img_show{
    display: none;
}
.feature{
    width: 100%;
    background-color: #fff;
    padding: 60px 0px;
}
.feature_inner{
    padding: 0px 25px;
}

.feature_heading h2{
    font-family: "MontserratRegular";
    font-size: 36px;
    color: #000;
}
.img{
    width: 635px;
    height: 450px;
    margin-top: 120px;
    border-radius: 4px;
    background-color: #efefef;
}
.img2{
    width: 635px;
    height: 500px;
}
.img3{
    width: 540px;
    height: 400px;
}
.img4{
    width: 635px;
    height: 600px;
}
.f_list_2,.f_list_4{
    float: right;
    display: block;
    width: max-content;

}
.img_title h3{
    font-family: "MontserratSemiBold";
    font-size: 22px;
    color: #000;
    margin: 20px 0px 15px;
}
.img_title a{
    font-family: "MontserratRegular";
    font-size: 12px;
    color: #000;
    display: inline-block;
}
.img_title a i{
    margin-left: 5px;
}
.img_title a:hover{
    color: #90b012;
}

.footer{
    width: 100%;
    padding: 115px 0px 75px;
    background-color: #000;
}
.footer_inner{
    padding: 0px 25px;
}
.f_heading h3{
    font-family: "MontserratLight";
    font-size: 14px;
    color: #a9a9a9;
    text-align: center;
    margin-bottom: 40px;
}
.f_heading h3 span{
    display: block;
}
.contact h3{
    font-family: "MontserratLight";
    font-size: 28px;
    color: #fff;
    text-align: center; 
    margin-bottom: 20px  
}
.contact a{
    display: inline-block;
    font-family: "MontserratSemiBold";
    font-size: 38px;
    color: #fff;
    text-align: center; 
    margin-bottom: 20px 
}
.contact a:hover{
    color: #90b012;
}
.contact p{
    font-family: "MontserratLight";
    font-size: 14px;
    line-height: 27px;
    color: #fff;
    text-align: center; 
    margin-bottom: 100px  
}
.contact p span{
    display: block;
}
.f_social p{
    font-family: "MontserratLight";
    font-size: 12px;
    color: #a9a9a9;
    width: max-content;
    display: inline-block;
    margin-right: 35px;
}
.f_social a{
    display: inline-block;
    font-family: "MontserratLight";
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 0px 20px;
}
.f_social a:hover{
    color: #90b012;
}
.f_social a.top{
    font-family: "MontserratRegular";
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}
.f_social a.top .img_hide{
    display: none;
}
.f_social a.top:hover .img_hide{
    display: block;
}
.f_social a.top:hover .img_show{
    display: none;
}
.f_social a.top:hover{
    color: #90b012;
}
.f_social a.top img{
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.pos_f{
    position: relative;
}