@font-face {
    font-family: 'RobotoRegular';
    src: url(../fonts/RobotoRegular.ttf);
}

@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/RobotoBold.ttf);
}

@font-face {
    font-family: 'RobotoMedium';
    src: url(../fonts/RobotoMedium.ttf);
}

@font-face {
    font-family: 'RobotoLight';
    src: url(../fonts/RobotoLight.ttf);
}



@font-face {
    font-family: 'OpenSansRegular';
    src: url(../fonts/OpenSansRegular.ttf);
}

@font-face {
    font-family: 'OpenSansBold';
    src: url(../fonts/OpenSansBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
label {
    margin: 0;
    padding: 0;
}

.noleft {
    padding-left: 0;
}

.noright {
    padding-right: 0;
}

.nopadding {
    padding: 0;
}

a {
    outline: medium none !important;
    text-decoration: none;
    transition: all 0.35s ease 0s;
}

a:hover {
    text-decoration: none;
}

button {
    transition: all 0.35s ease 0s;
}

a:focus {
    text-decoration: none;
}

button:focus {
    outline: 0px;
}

.width1 {
    width: 100%;
}

.container {}

.boxs {
    width: 100%;
    display: block;
    float: left;
}

.btn:hover {
    background-color: #ff9900;
    border-color: #ff9900;
    color: #fff;
}

.btn-default:hover {
    background-color: #ff9900;
    border-color: #f5f5f5;
    color: #f5f5f5;
}

.btn-default:active {
    color: none;
    background-color: none;
    border-color: none;
}

.btn1 {
    background-color: #ff9900;
    border-color: #ff9900;
    margin-right: 18px;
    padding: 15px 25px;
    color: #f5f5f5;
}

.btn1:hover {
    background-color: transparent;
    color: #f5f5f5;
    border-color: #f5f5f5;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}

.header .container-fluid {
    padding: 0;
}

.header .navbar-brand {
    height: auto;
    padding: 0;
    padding-left: 15px;
}

.header .navbar {
    background: rgba(0, 0, 0, 0);
    border: none;
    margin-bottom: 0;
}

.header .navbar ul li {
    padding: 10px 15px;
}

.header .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
}

.header .nav > li > a:hover,
.header .nav > li .active {
    color: #fff;
}

.header .navbar-nav > li .btn {
    background: #000;
    color: #fff !important;
    border-radius: 100px;
}

.header .navbar-nav > li .btn:hover {
    background: #da3838;
}

.fixed_header {
    position: fixed;
}

.fixed_header .top {
    display: none;
    border: none;
}

.fixed_header .bottom {
    padding: 10px 0;
}

.header .hamburger {
    display: none;
    float: right;
    height: 45px;
    padding: 18px 10px 10px 9px;
    width: 45px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background: #9097a8;
    border-radius: 0;
    width: 25px;
    height: 3px;
}

.hamburger-box {
    width: 25px;
}

.hamburger-inner::before {
    top: -8px;
}

.hamburger-inner::after {
    bottom: -8px;
}

.sidenav {
    background-color: #53b848;
    height: 100%;
    left: 0px;
    overflow-x: hidden;
    padding: 140px 0 0;
    position: fixed;
    top: 0;
    /*    transition: all 0.5s ease 0s;*/
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
    text-align: center;
    display: none;
}

.sidenav a {
    color: #fff;
    display: block;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    font-family: 'RobotoLight';
    font-size: 24px;
    font-weight: 300;
}

.sidenav a.active {
    color: #000;
}

.sidenav ul li {
    display: block;
    list-style: none;
}

.sidenav a span {
    float: left;
    height: 20px;
    margin-right: 8px;
    margin-top: 2px;
    width: 22px;
}

.sidenav a:hover {
    color: #000;
}

.sidenav .logo {
    border-bottom: 1px solid rgb(111, 117, 133);
    margin-bottom: 15px;
    padding: 7px 0;
}

.sidenav .logo img {
    margin: 0 auto;
}

.sidenav .sidehmbrg {
    margin-top: 25px;
}

.sidenav .sidehmbrg .hamburger-inner,
.sidenav .sidehmbrg .hamburger-inner::before,
.sidenav .sidehmbrg .hamburger-inner::after {
    background: #fff;
}

.drop_cont {
    display: none;
}

.drop_cont a {
    font-size: 16px;
}

.slick-initialized .slick-slide {
    outline: medium none !important;
}


/*top header*/
.topHeader {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.5);
    position: relative;
}

.topHeader .container-fluid {
    padding-right: 0;
}

.tp_headerInlft {
    width: 72%;
    float: left;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tp_headerInrht {
    width: 28%;
    float: left;
}

.box_cntnt .box_cnt_in i {
    color: #53b848;
    font-size: 20px;
    margin-right: 8px;
}

.box_cnt_in h3,
.box_cnt_in span {
    color: #999;
}

.box_cnt_in h3 {
    font-size: 14px;
    font-family: 'RobotoBold';
    margin-bottom: 2px;
}

.box_cnt_in span {
    font-family: 'RobotoRegular';
    font-size: 14px;
}

.box_cntnt {
    padding: 0 40px;
    border-right: 1px solid #4a4a4a;
}

.box_3 {
    border: none;
}

.search_box {
    background: #fff;
    border-radius: 4px;
    padding: 4px 10px 4px 10px;
    width: 250px;
    display: flex;
    align-items: center;
    float: left;
    margin-top: 14px;
}

.search_box span i {
    color: #000;
    font-size: 22px;
    padding: 8px;

}

.search_box input {
    border: none;
    outline: 0;
    box-shadow: none;
    font-family: 'OpenSansRegular';
    font-size: 16px;
    color: #000;
}

.btn_box {
    float: right;
    position: relative;
}

.btn_box button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px 25px;
    background: #53b848;
}

.btn_box button:hover {
    background: #1d1d1f;
}

.hamburger_dsk .hamburger-inner,
.hamburger_dsk .hamburger-inner::before,
.hamburger_dsk .hamburger-inner::after {
    background: #fff;
    width: 40px;
    height: 4px;
    margin-bottom: -5px;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    margin-bottom: 0px;
}

.hamburger_dsk .hamburger-box {
    width: 32px;
}

.hamburger_dsk .hamburger-inner::before {
    top: -13px;
}

.hamburger_dsk .hamburger-inner {
    top: 65%;
    left: -4px;
}

.btn_box button.bgColor {
    background: #1d1d1f;
}

/*
.hamburger_dsk .hamburger-inner::before .nomargin {
    margin-bottom: 0;
}
*/

/*top header end*/

/*loaction bar*/
.location_bar {
    position: fixed;
    height: 100%;
    background: #1d1d1f;
    width: 350px;
    right: -350px;
    padding: 25px 20px;
    overflow-y: scroll;
    transition: all 0.4s ease;
}

.location_bar h2 {
    color: #999;
    font-size: 20px;
    font-family: 'RobotoBold';
    margin-bottom: 50px;
    margin-top: 0px;
}

.location_bar h3 {
    font-family: 'RobotoRegular';
    font-size: 18px;
    margin-bottom: 8px;
    color: #999;
}

.location_bar h3.canada {
    margin-top: 20px;

}

.loct_bar_in ul {
    list-style: none;
}

.loct_bar_in li {
    display: block;
}

.loct_bar_in li a {
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}

.loct_bar_in li a i {
    color: #999;
    font-size: 16px;
    margin-right: 8px;
    transition: all 0.3s;
}

.loct_bar_in li a:hover {
    color: #51b847;
}

.loct_bar_in li a:hover i {
    color: #51b847;
}

/*loaction bar end*/

/*index page*/

.banner {
    width: 100%;
    background: url(../img/banner.jpg) no-repeat center center;
    background-size: cover;
    color: #f5f5f5;
    padding: 90px 0 88px;
    margin-top: -73px;
}

.banner_inner {
    padding: 0 95px;
}

.menu_box {
    display: flex;
    align-items: center;
}

.menu_boxlft {
    float: left;
    width: 45%;
}

.menu_boxrht {
    float: left;
    width: 55%;
}

.menu_boxrht .resHambrg {
    display: none;
    float: right;
}

.menu_boxlft img {
    width: 280px;
}

.menu_boxlft a {
    display: inline-block;
}

.menu_boxrht .menu {
    list-style: none;
    float: right;
}

.menu_boxrht .menu li {
    display: inline-block;
    position: relative;
}


.menu_boxrht .menu li a {
    font-family: 'RobotoBold';
    font-size: 16px;
    color: #000;
    padding: 0 15px;
    position: relative;
}

.menu_boxrht .menu li a:hover {
    color: #53b848;
    z-index: 99;
}

.menu_boxrht .menu li a.active {
    color: #53b848;
}

.menu_boxrht .menu li a i {
    margin-left: 8px;
}

.sub_menu {
    position: absolute;
    left: -30px;
    top: 60px;
    width: 200px;
    background: rgba(0, 0, 0, 0.95);
    padding: 40px 20px 15px;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -1;
    border-radius: 4px;

}

.sub_menu li {
    display: block;
    width: 100%;
}

.menu_boxrht .menu .sub_menu li a {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'RobotoRegular';
    font-size: 16px;
    padding: 5px 0;
    transition: all 0.3s;
    width: 100%;
}

.menu_boxrht .menu .sub_menu > li > a::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 1px;
    background: #fff;
    left: 0;
    top: 15px;
    transition: all 0.3s;
}

.menu_boxrht .menu .sub_menu > li > a:hover {
    color: #fff;
    text-indent: 12px;
}

.menu_boxrht .menu .sub_menu > li > a:hover::before {
    width: 10px;
}

.menu_boxrht .menu li:hover ul.sub_menu {
    opacity: 1;
    top: -10px;
    transition: all 0.3s;
    z-index: 1;
}

.slideInUp {
    animation-duration: 1s;
}


.banner_inner h1 {
    font-size: 59px;
    color: #000;
    font-family: 'RobotoRegular';
    line-height: 65px;
    margin-top: 250px;
}

.marginLft {
    margin-left: -350px;
}

.locationBrrht {
    right: 0px;
}

.location_bar::-webkit-scrollbar {
    width: 3px;
}

.location_bar::-webkit-scrollbar-thumb {
    background-color: #53b848;
}

.cleanSec {
    background: #eeeeee;
    padding-top: 60px;
    border-top: 1px solid #444;
}

.clean_iner {
    padding: 0 80px;
}

.commHead h2 {
    font-family: 'RobotoLight';
    font-size: 42px;
    /*    line-height: 20px;*/
    font-weight: 300;
    margin-bottom: 20px;
}

.col_lft p {
    font-family: 'RobotoRegular';
    font-size: 16px;
    color: #464247;
    line-height: 26px;
}

.col_rht {
    background: #fff;
    padding: 55px 60px;
    border-top: 4px solid #53b848;
    margin-top: -180px;
}

.col_rht h3 {
    font-family: 'RobotoLight';
    font-size: 30px;
    color: #000;
    line-height: 35px;
}

.col_rht h3 br {
    display: none;
}

.col_rht ul {
    list-style: none;
    margin-top: 25px;
}

.col_rht ul li {
    display: block;
    position: relative;
    color: #464247;
    font-family: 'RobotoRegular';
    font-size: 16px;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-left: 20px;
}

.col_rht ul li::before {
    content: url('../img/icon-check-1.png');
    position: absolute;
    top: 11px;
    left: -45px;
}

.clean_btm {
    padding: 45px 80px;
    background: #53b848;
}

.howTwrk h3 {
    font-family: 'RobotoLight';
    color: #000;
    font-size: 43px;
}

.steps .step {
    width: 33.33%;
    float: left;
}

.steps .step img {
    width: 55px;
    float: left;
}

.steps .step h3 {
    font-family: 'RobotoBold';
    font-size: 16px;
    color: #000;
    float: left;
    line-height: 26px;
    margin-left: 20px;
}

.steps .step h3 span {
    font-family: 'RobotoRegular';
    display: block;
}

.steps .step3 {
    padding-left: 25px;
}

.video_wrp {
    padding: 70px 80px 40px;
    background: #fff;
}

.video_iner h2 {
    text-align: center;
    margin-bottom: 50px;
}

.video_box iframe {
    width: 100%;
    height: 80vh;
    display: block;
}


.faq_sec {
    background: url(../img/bg-faq-1.jpg) no-repeat center center;
    background-size: cover;

}

.faq_sec {
    padding: 30px 0 150px;
}

.faq_inner h2 {
    text-align: center;
    margin-bottom: 40px;
}

.btn_box {
    text-align: center;
    padding-top: 60px;
}

.view_btn {
    background: #fff;
    color: #000;
    font-family: 'RobotoRegular';
    text-transform: uppercase;
    padding: 26px 64px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
}

.view_btn:hover {
    color: #fff;
}

/*custome accordian*/
.accordion-container {
    position: relative;
    /*    max-width: 500px;*/
    height: auto;
    margin: 10px auto;
    width: 700px;
    float: none;
}

.accordion-container > h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.set {
    position: relative;
    width: 100%;
    height: auto;
    /*    background-color: #fff;*/
}

.set > a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    border-top: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-family: 'RobotoLight';
    font-size: 22px;
    color: #000;
}

.set > a i {
    float: left;
    margin-right: 15px;
    transition: all 0.3s;
    font-size: 28px;
}

.set > a.active {
    color: #53b848;
}

.content {
    /*    background-color: #fff;*/
    display: none;
    padding-bottom: 30px;
}

.content p {
    padding: 10px 42px;
    margin: 0;
    color: #000;
    font-family: 'RobotoLight';
    font-size: 18px;
}

/*custome accordian end*/

.stained_sec {
    background: #53b848;
    padding: 80px 0;
}

.stain_inner h2 {
    font-size: 56px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'RobotoLight';
}

.stain_inner p {
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-family: 'RobotoLight';
}

.btn_sbx {
    text-align: center;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_sbx span {
    margin: 0 35px;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 16px;
}

.comm_btn {
    font-size: 14px;
    font-family: 'RobotoRegular';
    padding: 24px 50px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
    z-index: 99;
}

.comm_btn_rotate g {
    position: relative;
    z-index: 99;
}

.comm_btn_rotate::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #53b848;
    position: absolute;
    top: -150px;
    left: -108px;
    transform: rotate(-45deg);
    transition: all 0.4s;
    z-index: 1;
}

.comm_btn:hover {
    color: #fff;
}

.comm_btn_rotate:hover:before {
    color: #fff;
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

.flocation_btn {
    background: #24282b;
    color: #fff;
}

.flocation_btn:focus {
    color: #fff;
}

.contact_btn {
    background: #fff;
    color: #000;
}

/*index page end*/

/*footer*/
.footer {
    background-color: #000;
    position: relative;
}

.foot_top {
    padding: 80px;
}

.foot_head {
    font-family: 'RobotoBold';
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    margin-bottom: 30px;
}

.foot_lft a {
    font-family: 'RobotoRegular';
    color: #999999;
    font-size: 16px;
    display: block;
    line-height: 26px;
    margin-bottom: 10px;
    position: relative;
}

.foot_lft a:hover {
    color: #fff;
    padding-left: 15px;
}

.foot_lft a::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 0px;
    height: 1px;
    background: #53b848;
    transition: all 0.3s;
}

.foot_lft a:hover::before {
    width: 10px;
}

.foot_lft a.active {
    color: #fff;
    padding-left: 15px;
}

.foot_lft a.active::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 10px;
    height: 1px;
    background: #53b848;
}

.foot_rht p {
    font-family: 'RobotoBold';
    font-size: 16px;
    line-height: 26px;
    color: rgb(85, 85, 85);
}

.foot_rht h6 {
    font-family: 'RobotoBold';
    font-size: 20px;
    color: rgb(83, 184, 72);
    line-height: 26px;
}

.social {
    padding-top: 30px;
}

.social a {
    font-family: 'RobotoRegular';
    color: #999999;
    font-size: 20px;
    display: inline-block;
    line-height: 26px;
    margin: 0px 20px;
}

.social a:hover {
    color: #fff;
}

.foot_bottom {
    padding: 40px 80px;
    border-top: 1px solid #222222;
}

.foot_bottom p {
    font-family: 'RobotoRegular';
    color: #555555;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
}

/*footer end*/

/*service page*/
.services {
    padding: 80px 0 60px;
    background: #fff;
}

.serv_head {
    margin-bottom: 90px;
}

.serv_head h2 {
    text-align: center;
    margin-bottom: 50px;
}

.serv_head .unline {
    width: 500px;
    height: 1px;
    background: #eee;
    margin: 0 auto;
}

.serv_content {
    padding: 0 100px 80px;
}

.serv_content .rht_sec h3 {
    font-family: 'RobotoBold';
    font-size: 18px;
    color: #464247;
    margin-bottom: 20px;
}

.serv_content .rht_sec p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
}

.serv_content .rht_sec p.para {
    margin-bottom: 20px;
}

.serv_content .rht_sec a {
    font-family: 'RobotoBold';
    text-transform: uppercase;
    font-size: 16px;
    color: #53b848;
    margin-top: 15px;
    display: block;
}

.lft_sec img {
    float: right;
}

.serv_content .lineund {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 60px 0;
}

.ready_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 0;
    border-top: 1px solid #eee;
}

.ready_sec h3 {
    font-family: 'RobotoLight';
    font-size: 32px;
    color: #000;
}

.ready_sec i {
    margin: 0 25px;
}

/*service page end*/

/*carpet cleaning page*/

.carpet_serv img {
    float: left;
    margin-right: 20px;
}

.carpet_serv p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
}

.carpet_head {
    margin-bottom: 70px;
}

.steps_sec {
    padding: 80px 0;
    background: #eee;
}

.steps_inner {
    padding: 0 95px;
}

.steps_inner h2 {
    text-align: center;
}

.steps_inner p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
    text-align: center;
}

.steps_inner p.margBtmPara {
    margin-bottom: 50px;
}

.number_sec img {
    margin: 0 auto;
}

.number_sec h3 {
    font-family: 'RobotoBold';
    font-size: 18px;
    color: #464247;
    text-align: center;
    margin: 20px 0;
}

.steps_inner .rowMrgn {
    margin-top: 50px;
}


.optional {
    padding: 80px 0;
    background: #fff;
}

.optional_inner {
    padding: 0 95px;
}

.optonal_head h2 {
    text-align: center;
    margin-bottom: 40px;
}

.optional_inner p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}

.carpetProtc {
    padding: 80px 0;
    background: #000;
}

.carpetProtc_inner {
    padding: 0 95px;
}

.carpetProtc_head h2 {
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.carpetProtc_lft p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.carpetProtc_lft p.parabld {
    font-family: 'RobotoBold';
}

.ready_sec2 {
    padding-bottom: 60px;
}

/*carpet cleaning page end*/

/*upholsterycleaning*/
.quots {
    margin-top: 15px;
    border-left: 3px solid #53b848;
}

.quots p {
    text-align: center;
    font-family: 'RobotoRegular';
    color: #797779;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
}

/*upholsterycleaning end*/

/*houston page*/
.cln_service {
    background: #fff;
    padding: 80px 0 0;
}

.cln_serv_in h1 {
    font-family: 'RobotoRegular';
    font-size: 54px;
    color: #000;
    text-align: center;
}

.cln_serv_in h2 {
    font-family: 'RobotoLight';
    font-size: 38px;
    color: #000;
    text-align: center;
    margin: 30px 0 40px;
    line-height: 50px;
}

.cln_serv_in h2 a {
    color: #53b848;
}

.cln_serv_in .unline {
    width: 485px;
    height: 1px;
    background: #eee;
    margin: 0 auto 40px;
}

.cln_sr_rht p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
}

.cln_sr_lft img {
    margin-top: 10px;
}


.video_sec {
    background: #fff;
    padding: 60px 0;
}

.video_inner h2 {
    text-align: center;
    margin-bottom: 40px;
}

.video_wrpr {
    text-align: center;
}


.resdcrpt_clean {
    background: #eee;
    padding: 60px 0;
}

.res_lft p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
}

.res_rht img {
    margin-top: 10px;
}

.needSec {
    background: #fff;
    padding: 60px 0;
}

.accord_container {
    width: 100%;
}

.set > a i {
    transition: all 0.3s;
}

.set > a i.rotate {
    transform: rotate(-180deg);
}

.accord_container .content p {
    padding-top: 0;
    padding-bottom: 0;
}

.bottomTxt p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.carpetProtc_head2 h2 {
    text-align: left;
    font-size: 41px;
    margin-bottom: 15px;
}

.carpetProtc_head2 p {
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 15px;
    line-height: 28px;
}

.carpetProtc_lft2 p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.carpetProtc_lft2 p.nofluff {
    font-weight: 600;
    margin: 20px 0;
}

.carpetProtc_rht2 {
    padding: 20px;
}

.related_sec {
    padding: 80px 0;
    background: #fff;
}

.related_top h2 {
    text-align: center;
}

.related_top p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.cleanBox img {
    display: block;
    margin: 0 auto;
}

.cleanBox h3 {
    text-align: center;
    margin-top: 15px;
    font-family: 'RobotoRegular';
    font-size: 20px;
    color: #000;
    line-height: 28px;
}

.uncln_sec {
    padding: 70px 0;
    background: #000;
}

.uncln_sec h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'RobotoLight';
    text-align: center;
    margin-bottom: 30px;
}

.uncln_sec p {
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 20px;
    line-height: 28px;
    margin-top: 15px;
    text-align: center;
}

.freeqts {
    background: #fff;
    padding: 70px 0;
}

.freeqts .unline {
    width: 500px;
    height: 1px;
    background: #eee;
    margin: 40px auto 40px;
}

.freeqts_inner h3 {
    font-family: 'RobotoRegular';
    font-size: 22px;
    color: #000;
    text-align: center;
    line-height: 32px;
}

.freeqts_inner h3 a {
    color: #53b848;
}

.nquots h2 {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'RobotoLight';
    line-height: 45px;
}

.nquots h2 a {
    color: #53b848;
}

.cnt_sec {
    margin-top: 50px;
}

.dynkCrpt h4 {
    font-family: 'RobotoBold';
    color: #464247;
    font-size: 16px;
    margin-bottom: 8px;
}

.dynkCrpt p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 28px;
}

.dynkCrpt p a {
    color: #53b848;
}

/*houston page en*/

/*Contact Page Start*/

.cont_detail {
    padding: 80px;
}

.cont_detail .container {
    /*    padding: 0;
    margin: 0;*/
    width: 100%;
}

.cont_detail .cont_top h2 {
    font-size: 42px;
    font-family: 'RobotoLight';
    text-align: center;
    color: #000;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 0 171px;
}

.cont_detail .contInner {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

}

.cont_detail .col-sm-4 {
    padding: 0;
}

.cont_detail .cont_inner {
    padding: 50px 0;
    border-right: 1px solid #e5e5e5;
    min-height: 399px;
    position: relative;
}

.cont_detail .col-sm-4:last-child .cont_inner {
    border-right: none;
}

.cont_detail .cont_inner i {
    font-size: 56px;
    color: #53b848;
    text-align: center;
    display: block;
}

.cont_detail .cont_inner h2 {
    font-family: 'RobotoLight';
    text-align: center;
    color: #000;
    font-weight: 300;
    font-size: 24px;
    margin: 30px 0;
}

.cont_detail .cont_inner h3 {
    color: #464247;
    ;
    font-size: 16px;
    font-family: 'RobotoRegular';
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.cont_detail .col-sm-4:first-child .cont_inner p {
    padding: 0;
}

.cont_detail .cont_inner p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    text-align: center;
    padding: 0 40px;
    line-height: 25px;
}

.cont_detail .cont_inner p a {
    color: #53b848;
}

.cont_detail .cont_inner .cont_btn {
    display: block;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    bottom: 50px;
}

.cont_detail .cont_inner .cont_btn a.btn {
    background: #24282b;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 15px 50px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'RobotoRegular';
    position: relative;
    overflow: hidden;
    border: none;
}

.cont_detail .cont_inner .cont_btn a:hover,
.cont_detail .cont_inner .cont_btn a:focus {
    text-decoration: none;
    border: none;
}

contact_form .container {
    /*padding: 0;*/
}

.contact_form h2 {
    text-align: center;
    color: #000;
    font-size: 42px;
    font-family: 'RobotoLight';
    line-height: 50px;
    margin-bottom: 50px;
    padding: 0 170px;
}

form .form_inner {
    padding: 0 170px 80px;
}

form .form_inner input {
    margin-bottom: 30px;
}

form .form_inner input::placeholder {
    font-family: 'RobotoLight';
    color: #000;
    font-size: 16px;
}

form .form_inner input.form-control {
    height: auto;
    padding: 15.5px 15px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    font-family: 'RobotoLight';
    font-weight: 300;
    font-size: 16px;
    color: #000;
    background: #fcfcfc;
}

form .form_inner input.form-control:focus {
    border: 1px solid transparent;
    box-shadow: none;
    box-shadow: 0 5px 45px 0 rgba(36, 50, 56, 0.1);
}

form .form_inner select.form-control {
    height: auto;
    padding: 16px 15px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    font-size: 16px;
    background: #fcfcfc;
    font-family: 'RobotoLight';
    font-weight: 300;
    color: #000;
    text-transform:
}

form .form_inner .form_right select.form-control {
    margin-bottom: 30px;
}

form .form_inner select option {
    font-size: 16px;
    font-family: 'RobotoRegular';
    font-weight: 300;
    color: #000;
}

form .form_inner select {
    background: url('../img/arrow.svg') no-repeat !important;
    outline: 0;
    max-width: 100%;
    background-position: 92% center;
    background-repeat: no-repeat;
    background-size: 6%;
    position: relative;
    text-indent: 0.01px;

}

form .form_inner textarea {
    resize: none;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    padding: 15px;
    font-family: 'RobotoLight';
    font-weight: 300;
    background: #fcfcfc;
    font-size: 16px;
    color: #000;
}

form .form_inner textarea:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 5px 45px 0 rgba(36, 50, 56, 0.1);
}

form .form_inner textarea::placeholder {

    color: #757575;

}

form .form_inner button {
    margin: 40px 0 30px;
    background: #24282b;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 3px;
    font-family: 'RobotoRegular';
    color: #fff;
    height: auto;
    padding: 17px 0;
    position: relative;
    overflow: hidden;
    border: none;
}

form .form_inner button:focus {
    box-shadow: none;
    outline: none;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Contact Page Start End*/

/*About Page*/

.about_dc .about_inner {
    padding: 80px 175px;
    display: inline-block;
}

.about_dc .about_inner h2 {
    text-align: center;
    font-family: 'RobotoLight';
    font-weight: 300;
    font-size: 42px;
    line-height: 55px;
    color: #000;
    margin-bottom: 40px;
}

.about_dc .about_inner p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.about_dc .about_inner p:last-child {
    margin-bottom: 0;
}

.about_dc .about_inner .aboutLeft {
    display: inline-block;
    float: left;
}

.about_dc .about_inner .lftimg {
    width: 50%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.weAre_about {
    background: #53b848;
}

.weAre_about .weAre_inner {
    padding: 80px 330px;
}

.weAre_about .weAre_inner h2 {
    font-family: 'RobotoLight';
    font-weight: 300;
    text-align: center;
    color: #fff;
    font-size: 42px;
    line-height: 50px;
    display: inline-block;
}

.about_vid {
    background: #111;
    padding: 80px 0;
}

.about_vid .vid_inner {
    text-align: center;
    padding: 0 120px;
}

.about_vid .vid_inner iframe {
    width: 100%;
    height: 80vh;
}

.about_vid p {
    text-align: center;
    margin-top: 30px;
    font-family: 'RobotoRegular';
    font-size: 16px;
    color: #999;
    line-height: 24px;
}

.about_cont {
    padding: 80px 0;
    text-align: center;
}

.about_cont .container {
    /*padding: 0;*/
}

.about_cont .cont_inner h2 {
    font-family: 'RobotoLight';
    font-weight: 300;
    color: #000;
    font-size: 28px;
    line-height: 40px;
    display: inline-block;
}

.about_cont .cont_inner i {
    margin-left: 15px;
    h2 display: inline;
}

.about_cont .locs_btn {
    margin-top: 30px;
}

.about_cont .locs_btn a {
    display: inline-block;
    padding: 24px 50px;
    background: #24282b;
    border-radius: 3px;
    font-family: 'RobotoRegular';
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;

}

/*About Page End*/

/*Locations Page Start*/

/*.location .container {
    padding: 0;
}*/

.location .locs_top h2 {
    text-align: center;
    font-family: 'RobotoLight';
    font-weight: 300;
    color: #000;
    font-size: 42px;
    padding: 80px 0 40px;
}

.location .locn_inner h2 {
    font-family: 'RobotoLight';
    font-weight: 300;
    color: #000;
    font-size: 28px;
    margin: 30px 0 20px;
}

.location .locn_inner p {
    font-size: 16px;
    color: #464247;
    font-family: 'RobotoRegular';
    line-height: 26px;
}

.location .locn_inner p strong {
    font-size: 16px;
    color: #464247;
    font-family: 'RobotoRegular';
    line-height: 26px;
}

.location .locn_inner span {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.location .locn_inner a {
    color: #53b848;
    font-size: 16px;
    line-height: 26px;
    font-family: 'RobotoRegular';
}

.location .locn_inner .readMore {
    margin-bottom: 30px;
}

.location .locn_inner .readMore a {
    margin: 30px 0;
    display: inline-block;
}

.location.canLoc .locs_top h2 {
    padding-top: 0;
}

.location .locn_inner {
    margin-bottom: 50px;
    width: 30%;
    display: inline-block;
}

.location .locn_inner {
    margin: 0 15px;
}

.location .locn_inner br {
    display: none;
}

.about_cont.locs .cont_inner {
    display: inline-flex;
}

.about_cont.locs .locs_btn {
    display: inline-flex;
    margin-top: 30px;
}

.about_cont.locs .locs_btn a {
    background: #24282b;
    color: #fff;
}

.about_cont.locs .cont_inner i {
    margin-left: 15px;
    margin-right: 15px;
}

.about_cont.locs {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 80px 0;
}

/*Locations Page End*/

/*Faqs page Start*/

.faqs .container {
    /*padding: 0;*/
}

.faqs {
    padding: 80px 0px;
}

.faqs .faqs_top {
    padding: 0 170px;
}

.faqs .faqs_top h2 {
    text-align: center;
    font-family: 'RobotoLight';
    font-weight: 300;
    line-height: 50px;
    font-size: 42px;
    color: #000;
}

.faqs .faqs_inner {
    margin-top: 80px;
    width: 49.5%;
    display: inline-block;
}

.faqs .faqs_inner:nth-child(even) {
    padding-right: 15px;
}

.faqs .faqs_inner:nth-child(odd) {
    padding-left: 15px;
}

.faqs .faqs_inner h2 {
    color: #53b848;
    font-family: 'RobotoLight';
    font-weight: 300;
    font-size: 32px;
    line-height: 19px;
    margin-bottom: 30px;
}

.faqs .faqs_inner .accordion-container.accord {
    width: 100%;
}

.faqs .faqs_inner .accordion-container.accord .content p {
    font-family: 'RobotoRegular';
    color: #464247;
    font-size: 16px;
    line-height: 26px;
    padding-right: 0;
    padding-left: 27px;
}

.faqs .faqs_inner .accordion-container.accord .set a {
    padding-left: 0;
}

/*Faqs page End*/

.slideInDown {
    animation-duration: 1s;
}

.container_bx {
    padding: 0 95px;
}

.moveTop {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 100;
    width: 60px;
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    /*    transition: all 0.3s;*/
    cursor: pointer;
    text-align: center;
}

.moveTop:hover {
    background: #53b848;
}

.moveTop i {
    color: #fff;
    font-size: 28px;
    margin-top: 5px;
}

.select_bx {
    width: 100%;
    display: block;
    position: relative;
    height: auto;
    padding: 15.5px 15px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fcfcfc;
    cursor: pointer;
}

.select_bx button {
    width: 100%;
    display: block;
    background: transparent !important;
    border: none;
    color: #000 !important;
    text-align: left;
    margin: 0 !important;
    padding: 0 !important;

}

.select_bx button span {
    font-family: 'RobotoLight';
    font-size: 16px;
}

.select_bx button img {
    width: 20px;
    float: right;
}

.select_bx ul {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0px;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: none;
    display: none;
    z-index: 99;
}

.select_bx ul li {
    display: block;
    font-family: 'RobotoLight';
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px;
}

.select_bx ul li:hover {
    background: #1e90ff;
    color: #fff;
}

form .form_inner textarea {
    margin-top: 30px;
}
