@font-face{
    font-family:'SourceSansProBold';
    src:url(../fonts/SourceSansProBold.ttf);
}
@font-face{
    font-family:'SourceSansProSemiBold';
    src:url(../fonts/SourceSansProSemiBold.ttf);
}
@font-face{
    font-family:'SourceSansProRegular';
    src:url(../fonts/SourceSansProRegular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}
h1,h2,h3,h4,h5,h6,p,ul,li,label{
    margin: 0;
    padding: 0;
}

.noleft{
    padding-left: 0;
}

.noright{
    padding-right: 0;
}

.nopadding{
    padding: 0;
}

a{
    outline: medium none !important;
    text-decoration:none;
    transition: all 0.35s ease 0s;
}

a:hover{
	text-decoration:none;
}

button {
    transition: all 0.35s ease 0s;
}

a:focus{
    text-decoration: none;
}

button:focus{
    outline:0px;
}

.width1{
	width:100%;
}

.container{
	
}

.boxs{
	width: 100%;
	display: block;
	float: left;
}


.header{
    position: fixed;
    width: 100%;
    z-index: 999;
	top:0;
	left:0;
    background-color: #181f2f;
    padding: 14px 0px;
}

.header .container-fluid{
	padding:0;
}
.header .navbar{
    background: rgba(0,0,0,0);
    border: none;
    margin-bottom: 0;
    min-height: 30px;
}
.header .navbar-header{
    width:100%;
    margin: 0 auto;
    line-height: 0;
}
.header .navbar-brand{
    height: auto;
    padding: 0;
    padding-left: 15px;
    float: left;
}

.header .tele{
    float: right;
    display: inline-block;
    font-family: "SourceSansProBold";
    font-size: 20px;
    color: #f16e00;
    line-height: 53px;
}

.fixed_header{
	position:fixed;
}
.fixed_header .bottom{
	padding:10px 0;
}
.funnelmain{
    margin-top: 81px;
    padding-top: 45px;
    background-color: #fff;
}
.funnelbox{ 
    padding: 0px 275px 225px;
    /*margin-bottom: 225px;*/
    /*min-height: 640px;*/
}
.container_funnel{
    width: 1050px;
}
.funnelbtns ul{
    text-align: center;
    list-style-type: none;
    padding: 30px 110px 0px;
}
.funnelbtns ul li{
    font-size: 0;
    line-height: 0;
    margin-bottom: 15px;
}
.funnelbtns ul.continueul{
    padding: 45px 110px 0px;   
}

.funnel_heading h1{
    font-family: "SourceSansProBold";
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.8px;
    color: #313131;
    text-align: center;
}
.funnel_heading h1.txtlft{
    text-align: left;
}
.funnel_heading p{
    font-family: "SourceSansProRegular";
    font-size: 20px;
    line-height: 26px;
    color: #313131;
    text-align: center;
    margin-top: 15px;
}
.funnel_heading p br{
    /*display: none;*/
}
.funnelbtnstyle{
    border: 2px solid #c33c00;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #f47000, #d25701);
    padding: 12px 0px;
    width: 100%;
    display: block;
}
.funnelbtnstyle.continuebtn{
    border: 2px solid #c33c00;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #f47000, #d25701);
    padding: 12px 0px;
    width: 100%;
    display: block;
    margin: 0;
}
.funnelbtnstyle h4{
    font-family: "SourceSansProBold";
    font-size: 20px;
    color: #fff;
}
.funnelbtnstyle.continuebtn h4{
    font-family: "SourceSansProBold";
    font-size: 18px;
    color: #fff;
    display: block;
}
.funnelbtnstyle.continuebtn h4 a{
    font-family: "SourceSansProBold";
    font-size: 18px;
    color: #fff;
    display: block;
    padding: 1.5px 0px;
}
.funnelbtnstyle.continuebtn:hover{
    background-image: linear-gradient(to bottom, #d25701, #f47000);
}
.funnelbtnstyle:hover{
    background-image: linear-gradient(to bottom, #d25701, #f47000);
}
.funnelbtnstyle h4 i{
    font-size: 22px;
}
.imgcenter {
    text-align: center;
    margin-top: 40px;
}
.imgcenter button {
    border: none;
    box-shadow: none;
    background: #fff;
    font-family: "SourceSansProBold";
    font-size: 22px;
    color: #2e3d62;
}
.imgcenter button i{
    margin-right: 5px;
    font-size: 18px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    width: 100%;
}

/*checked*/
.styled-checkbox:checked + label .funnelbtnstyle {
    background-image: linear-gradient(to bottom, #fdfdfd, #dadada);
    border: 2px solid #a5a5a5;
}
.styled-checkbox:checked + label .funnelbtnstyle h4{
    color: #313131;
}
.styled-checkbox:checked + label .funnelbtnstyle p{
    color: #313131;
}
/*checked*/

.formbox{
    padding: 30px 110px 0px;
}
.formbox .form-control{
    border: 2px solid #cdcccc;
    border-radius: 40px;
    padding: 12px 12px;
    font-family: "SourceSansProSemiBold";
    font-size: 18px;
    color: #313131;
    box-shadow: none;
    height: 50px;
    text-align: center;
}
.formbox .form-control::placeholder{
    color: #818180;
}
.formbox .form-control:focus{
    border: 2px solid #c33c00;
}
.funnelbtns ul.pdtop{
    padding-top: 0;
}
.personalinfo{
    margin-top: 10px;
}
.personalinfo p{
    font-family: "SourceSansProSemiBold";
    font-size: 10px;
    color: #818180;
    text-align: center;
}
.personalinfo p i{
    margin-right: 10px;
}
.personalinfo2{
    margin-top: 10px;
}
.personalinfo2{
    padding: 0px 45px 0px;
}
.personalinfo2 p{
    font-family: "SourceSansProSemiBold";
    font-size: 12px;
    color: #818180;
    text-align: center;
}
.personalinfo2 p span{
    color: #dc5e01;
}
.personalinfo2 p a{
    color: #dc5e01;   
}

/*footer start*/
.footer{
    background-color: #181f2f;
    padding: 30px 0px 20px;
}
.footer2{
    background-color: #11192e;
    padding: 10px 0px;
}
.f_inner{
    text-align: center;
}
.f_inner p{
    font-family: "SourceSansProRegular";
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.f_inner p.slash{
    color: #e46500;
    display: inline-block;
}
.f_inner a{
    font-family: "SourceSansProRegular";
    font-size: 12px;
    color: #e46500;
    text-align: center;
    display: inline-block;
}
.f_inner .policy{
    margin-bottom: 10px;
}
.f_inner p.copyright{
    font-family: "SourceSansProRegular";
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}
/*footer end*/


.formbox .form-group {
    margin-bottom: 15px;
}
.privacy_para{
    margin-top: 25px;
}
.privacy_para p{
    font-family: "SourceSansProSemiBold";
    font-size: 12px;
    color: #818180;
    margin-bottom: 15px;
}
.lists{
    margin-top: 25xp;
}
.lists ul{
    list-style-type: none;
}
.lists ul li{
    font-family: "SourceSansProSemiBold";
    font-size: 12px;
    color: #818180;
}
.modal-dialog{
    width: 600px;
}
.modal-body{
    padding: 30px;
}
.modal-content{
    border: none;
    box-shadow: none;
    border-radius: 0;
}
button.close{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #b8b8b8;
    border-radius: 50%;
    opacity: 1;
    text-shadow: none;
    height: 30px;
    width: 30px;
    opacity: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close{
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    line-height: 20px;
    opacity: 1;
}
.close:focus, .close:hover {
    color: #c33c00;
    opacity: 1;
}